* {
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

main {
   /* display: flex;
    flex-direction: column; */
    align-items: center;
    margin-top: 20px;
}
header {
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    color: blue;
    text-align: center;
    letter-spacing: 1px;
}
.container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: flex-start;
}
.left {
  /*  flex: 2; */
     background-color: lightblue;
}
.left section {
    margin-bottom: 20px;
}
.right {
  /*  flex: 1; */
    background-color: lightgreen;
}
.right section {
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.5;
}

section {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h2 {
    margin-bottom: 10px;
}
.box {
    display:inline-block ;
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
}
ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
span {
    font-size: 20px;
    color: blueviolet;
    
}
img {
    max-width: 100%;
    border-radius: 10px;
}
.wrap {
   /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.box2 {
   /* width: 150px; */
    height: 100px;
    background-color: cadetblue;

    display: flex;
    justify-content: center;
    align-items: center;
}
.big {
    grid-column: span 2;
}
button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0,3s;
}

button:hover {
    background-color: darkblue;
    transform: translateY(-5px);;
}

.card {
    position: relative;
}
.badge {
    position: absolute;
    background-color: darkslategrey;
    color: #ddd;
    top: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
}


